TELEGRAM_TOKEN=''
TELEGRAM_CHAT_ID='123918203'
PORT='8081'
GROQ_API_KEY=''
GROQ_MODEL=''
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''
DB_NAME=''
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=GET,POST,HEAD,PUT,DELETE,PATCH
CORS_ALLOW_HEADERS=
CORS_EXPOSE_HEADERS=
CORS_ALLOW_CREDENTIALS=false
CORS_MAX_AGE=0